@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
nav {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
/* Desktop */

@media (min-width: 600px) {
  /* Navbar Start */
  .navbar-item {
    position: absolute;
    right: 0;
    top: 15px;
  }

  .navbar-item ul li {
    display: inline;
    margin-right: 25px;
  }
  .navbar-item ul li a {
    text-decoration: none;
    font-size: 18px;
  }
  .navbar-item ul li a:hover {
    color: rgb(251, 22, 22);
    background-color: rgb(220, 244, 100);
    border-radius: 10px;
    padding: 10px;
  }
  .navbar-btn {
    display: none;
  }
  /* Navbar End */
  /* Main Start */
  /* Ecfile start */
  .ec-ad {
    float: left;
    margin-left: 2rem;
    padding: 2rem;
  }

  .ec-head-ad {
    color: red;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
  }

  .ec-head-box {
    border: 1px solid rgb(71, 67, 67);
    padding: 8px;
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
  }
  .ec-head-box img {
    margin-left: 7px;
  }

  .ec-head-box p {
    color: rgb(246, 44, 44);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    margin-top: 5px;
  }

  .fssai-img {
    border: 1px solid rgb(71, 67, 67);
    padding: 2px;
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
    border-radius: 5px;
  }
  #bill-soft {
    margin-top: 35%;
  }
  #iso {
    margin-top: -5%;
  }
  .ec-ad-right h3 {
    color: rgb(248, 38, 38);
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
  }
  .ec-ad-right h4 {
    color: rgb(68, 86, 255);
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    margin-right: 10px;
  }
  h4 span {
    color: black;
  }

  .gst-img {
    margin-left: 25%;
  }
  h2 {
    text-align: center;
    color: rgb(227, 32, 32);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 500;
    font-size: 22px;
  }
  form {
    background-color: #ade7e3;
    width: 20%;
    margin-left: 50%;
    padding: 10px;
  }
  form label {
    font-size: 20px;
    color: #3a12cb;
    font-weight: 700;
  }

  form input {
    padding: 15px;
    width: 80%;
    border-radius: 5px;
    border-color: #8e92e8;
    margin-bottom: 25px;
  }
  form select {
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    border-color: #8e92e8;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  select option {
    color: red;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  form button {
    color: whitesmoke;
    background: #3640fc;
    margin-left: 20%;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
  }
  .ec-ad-right p {
    font-size: 18px;
    color: rgb(57, 57, 57);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 20rem;
  }

  /* Ecfile End */
  /* Main End */
  /* our partner start */
  .partner {
    margin-top: 30px;
    text-align: center;
    color: #4949c2;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
  }
  .partner-logo {
    margin-left: 20%;
  }
  .partner-logo img {
    margin-right: 2rem;
  }
  /* our partner end */
  /* footer start */
  .footer {
    margin-top: 30px;
    background-color: #6565dd;
  }
  .footer .box-container {
    display: grid;
    margin-left: 10%;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  .footer .box-container .box h3 {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: -3px;
    font-family: "Nunito", sans-serif;
  }
  .footer .box-container .box a {
    color: #fff;
    font-size: 0.9rem;
    display: block;
    padding-left: 15px;
    font-family: "Nunito", sans-serif;
  }
  .footer .box-container .box a:hover {
    text-decoration: underline;
    color: #1717bd;
  }

  /* footer end */
}

/* Mobile view */
@media (max-width: 600px) {
  /* Navbar Start */
  nav {
    background-color: rgb(120, 132, 170);
  }
  .navbar-item ul {
    list-style-type: none;
    padding: 0;
  }
  .navbar-item ul li {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 255);

    padding-bottom: 15px;
    text-align: center;
  }
  .navbar-item ul a {
    text-decoration: none;
    font-size: 18px;
    color: white;
  }
  .navbar-btn {
    border: none;
    background: none;
    border: 1px solid white;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
  }
  .navbar-btn span {
    display: block;
    width: 20px;
    border-top: 1px solid white;
  }
  .navbar-btn span:not(:last-child) {
    margin-bottom: 5px;
  }
  .hide {
    display: none;
  }
  /* Navbar End */
  /* Main Start */
  .ec-ad {
    display: none;
  }
  .ec-ad-right h4 {
    color: rgb(68, 86, 255);
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    font-family: "Times New Roman", Times, serif;
    margin-right: 5px;
  }
  h4 span {
    color: black;
  }
  .gst-img {
    margin-left: 25%;
  }
  h2 {
    text-align: center;
    color: rgb(227, 32, 32);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  form {
    background-color: #ade7e3;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 5px;
  }
  form label {
    font-size: 18px;
    color: #3a12cb;
    font-weight: 500;
  }

  form input {
    padding: 15px;
    width: 80%;
    border-radius: 5px;
    border-color: #8e92e8;
    margin-bottom: 25px;
  }
  form select {
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    border-color: #8e92e8;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  select option {
    color: red;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  form button {
    color: whitesmoke;
    background: #3640fc;
    margin-left: 20%;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
  }
  .ec-ad-right p {
    font-size: 16px;
    color: rgb(57, 57, 57);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 2px;
    margin-right: 2px;
  }
  h3 {
    color: red;
    font-size: 16px;
    text-align: center;
  }
  #gst-img {
    margin-left: 10%;
  }
  /* Main End */
  /* fssai lincence start */

  #bsi-isi {
    font-weight: 100;
    font-size: 18px;
    color: rgb(41, 96, 151);
    font-family: "Nunito", sans-serif;
    margin-left: 0.5rem;
  }
  #bsi-isi:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .licence {
    margin-right: 20px;
    gap: 5rem;
  }
  .licence img {
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  .licence p {
    margin-left: 0.5rem;
    font-size: 1em;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  /* fssai lincence end */
  /* our partner start */
  .partner {
    text-align: center;
    color: #4949c2;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
  }
  .partner-logo {
    margin-left: 20%;
  }
  .partner-logo img {
    margin-right: 2rem;
    margin-top: 30px;
    align-items: center;
  }
  /* our partner end */
  /* footer start */
  .footer {
    background-color: #6565dd;
    margin-top: 10px;
  }
  .footer .box-container {
    display: grid;
    margin-left: 10%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
  }
  .footer .box-container .box h3 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: -3px;
    font-family: "Nunito", sans-serif;
    text-align: center;
  }
  .footer .box-container .box a {
    color: #fff;
    font-size: 0.7rem;
    display: block;
    padding-left: 15px;
    font-family: "Nunito", sans-serif;
    margin-left: 2rem;
  }
  .footer .box-container .box a:hover {
    text-decoration: underline;
    color: #1717bd;
  }
  /* Footer end */
}
